--
-- PostgreSQL database dump
--

\restrict qwRiN6Hb2EYvuGBcZhtqX3vMBCFfmyJApilDG9Hy25EQVunsFl7KwJGjILtvcvP

-- Dumped from database version 17.11 (Debian 17.11-1.pgdg13+2)
-- Dumped by pg_dump version 17.11 (Debian 17.11-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AlertStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."AlertStatus" AS ENUM (
    'NEW',
    'ACKNOWLEDGED',
    'RESOLVED'
);


ALTER TYPE public."AlertStatus" OWNER TO virtual_patrol;

--
-- Name: CameraStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."CameraStatus" AS ENUM (
    'ONLINE',
    'OFFLINE',
    'MAINTENANCE'
);


ALTER TYPE public."CameraStatus" OWNER TO virtual_patrol;

--
-- Name: CommunicationChannelType; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."CommunicationChannelType" AS ENUM (
    'WHATSAPP',
    'TELEGRAM',
    'EMAIL'
);


ALTER TYPE public."CommunicationChannelType" OWNER TO virtual_patrol;

--
-- Name: IncidentSeverity; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."IncidentSeverity" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'CRITICAL'
);


ALTER TYPE public."IncidentSeverity" OWNER TO virtual_patrol;

--
-- Name: IncidentStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."IncidentStatus" AS ENUM (
    'OPEN',
    'INVESTIGATING',
    'RESOLVED',
    'DISMISSED'
);


ALTER TYPE public."IncidentStatus" OWNER TO virtual_patrol;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'PENDING',
    'SENT',
    'FAILED',
    'CONFIGURATION_REQUIRED'
);


ALTER TYPE public."NotificationStatus" OWNER TO virtual_patrol;

--
-- Name: PatrolJobStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."PatrolJobStatus" AS ENUM (
    'IN_PROGRESS',
    'COMPLETED',
    'DRAFT'
);


ALTER TYPE public."PatrolJobStatus" OWNER TO virtual_patrol;

--
-- Name: PatrolStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."PatrolStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."PatrolStatus" OWNER TO virtual_patrol;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'OPERATOR',
    'VIEWER'
);


ALTER TYPE public."UserRole" OWNER TO virtual_patrol;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: virtual_patrol
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."UserStatus" OWNER TO virtual_patrol;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivePatrol; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."ActivePatrol" (
    "siteId" text NOT NULL,
    "jobId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivePatrol" OWNER TO virtual_patrol;

--
-- Name: Alert; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."Alert" (
    id text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    status public."AlertStatus" DEFAULT 'NEW'::public."AlertStatus" NOT NULL,
    "siteId" text NOT NULL,
    "cameraId" text,
    "incidentId" text,
    "assignedToId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Alert" OWNER TO virtual_patrol;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    "entityId" text,
    details text,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO virtual_patrol;

--
-- Name: Camera; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."Camera" (
    id text NOT NULL,
    name text NOT NULL,
    "cameraCode" text NOT NULL,
    "streamUrl" text,
    location text,
    status public."CameraStatus" DEFAULT 'OFFLINE'::public."CameraStatus" NOT NULL,
    "siteId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Camera" OWNER TO virtual_patrol;

--
-- Name: ChecklistItem; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."ChecklistItem" (
    id text NOT NULL,
    label text NOT NULL,
    "orderIndex" integer NOT NULL,
    "templateId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ChecklistItem" OWNER TO virtual_patrol;

--
-- Name: ChecklistTemplate; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."ChecklistTemplate" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    category text
);


ALTER TABLE public."ChecklistTemplate" OWNER TO virtual_patrol;

--
-- Name: CheckpointResult; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."CheckpointResult" (
    id text NOT NULL,
    "jobId" text NOT NULL,
    "checkpointId" text NOT NULL,
    "allClear" boolean DEFAULT false NOT NULL,
    "checklistState" jsonb,
    "screenshotPath" text,
    comment text,
    "completedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastUpdatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CheckpointResult" OWNER TO virtual_patrol;

--
-- Name: Incident; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."Incident" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    severity public."IncidentSeverity" DEFAULT 'MEDIUM'::public."IncidentSeverity" NOT NULL,
    status public."IncidentStatus" DEFAULT 'OPEN'::public."IncidentStatus" NOT NULL,
    "detectedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "resolvedAt" timestamp(3) without time zone,
    "siteId" text NOT NULL,
    "cameraId" text,
    "assignedToId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Incident" OWNER TO virtual_patrol;

--
-- Name: NotificationLog; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."NotificationLog" (
    id text NOT NULL,
    "siteId" text NOT NULL,
    "eventType" text NOT NULL,
    "channelType" public."CommunicationChannelType" NOT NULL,
    recipient text NOT NULL,
    message text NOT NULL,
    status public."NotificationStatus" DEFAULT 'PENDING'::public."NotificationStatus" NOT NULL,
    "providerMessageId" text,
    "errorMessage" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "sentAt" timestamp(3) without time zone
);


ALTER TABLE public."NotificationLog" OWNER TO virtual_patrol;

--
-- Name: OperatorSiteAssignment; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."OperatorSiteAssignment" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "siteId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OperatorSiteAssignment" OWNER TO virtual_patrol;

--
-- Name: Patrol; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."Patrol" (
    id text NOT NULL,
    name text NOT NULL,
    status public."PatrolStatus" DEFAULT 'ACTIVE'::public."PatrolStatus" NOT NULL,
    "operatorId" text NOT NULL,
    "siteId" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Patrol" OWNER TO virtual_patrol;

--
-- Name: PatrolJob; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."PatrolJob" (
    id text NOT NULL,
    status public."PatrolJobStatus" DEFAULT 'IN_PROGRESS'::public."PatrolJobStatus" NOT NULL,
    "routeId" text NOT NULL,
    "operatorId" text NOT NULL,
    "startedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "lastActivityAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastCheckpointId" text
);


ALTER TABLE public."PatrolJob" OWNER TO virtual_patrol;

--
-- Name: ReportTemplate; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."ReportTemplate" (
    id text NOT NULL,
    key text DEFAULT 'default'::text NOT NULL,
    fields jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    name text DEFAULT 'Default Template'::text NOT NULL
);


ALTER TABLE public."ReportTemplate" OWNER TO virtual_patrol;

--
-- Name: Route; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."Route" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "estimatedMinutes" integer,
    "siteId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Route" OWNER TO virtual_patrol;

--
-- Name: RouteCheckpoint; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."RouteCheckpoint" (
    id text NOT NULL,
    "orderIndex" integer NOT NULL,
    "routeId" text NOT NULL,
    "cameraId" text NOT NULL,
    "checklistTemplateId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RouteCheckpoint" OWNER TO virtual_patrol;

--
-- Name: Site; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."Site" (
    id text NOT NULL,
    name text NOT NULL,
    address text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    timezone text DEFAULT 'Asia/Kuala_Lumpur'::text NOT NULL,
    "reportTemplateId" text
);


ALTER TABLE public."Site" OWNER TO virtual_patrol;

--
-- Name: SiteCommunicationChannel; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."SiteCommunicationChannel" (
    id text NOT NULL,
    "siteId" text NOT NULL,
    "channelType" public."CommunicationChannelType" NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    destination text NOT NULL,
    "displayName" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SiteCommunicationChannel" OWNER TO virtual_patrol;

--
-- Name: SummaryTemplate; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."SummaryTemplate" (
    id text NOT NULL,
    key text DEFAULT 'default'::text NOT NULL,
    name text DEFAULT 'Default Summary Template'::text NOT NULL,
    fields jsonb NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SummaryTemplate" OWNER TO virtual_patrol;

--
-- Name: User; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public."User" (
    id text NOT NULL,
    username text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    role public."UserRole" DEFAULT 'OPERATOR'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO virtual_patrol;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: virtual_patrol
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO virtual_patrol;

--
-- Data for Name: ActivePatrol; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--

COPY public."ActivePatrol" ("siteId", "jobId", "createdAt") FROM stdin;
ab9518e0-faf9-4599-b8a0-a5df33ccfbbc	e3bc1c7e-41a1-4bef-b223-f3de4d70c0ad	2026-09-10 03:47:57.749
\.


--
-- Data for Name: Alert; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--

COPY public."Alert" (id, title, message, status, "siteId", "cameraId", "incidentId", "assignedToId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: Camera; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: ChecklistItem; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: ChecklistTemplate; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: CheckpointResult; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: Incident; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--

COPY public."Incident" (id, title, description, severity, status, "detectedAt", "resolvedAt", "siteId", "cameraId", "assignedToId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: NotificationLog; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: OperatorSiteAssignment; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: Patrol; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--

COPY public."Patrol" (id, name, status, "operatorId", "siteId", "startedAt", "endedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: PatrolJob; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: ReportTemplate; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: Route; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: RouteCheckpoint; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: Site; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: SiteCommunicationChannel; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: SummaryTemplate; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: virtual_patrol
--



--
-- Name: ActivePatrol ActivePatrol_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ActivePatrol"
    ADD CONSTRAINT "ActivePatrol_pkey" PRIMARY KEY ("siteId");


--
-- Name: Alert Alert_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Camera Camera_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Camera"
    ADD CONSTRAINT "Camera_pkey" PRIMARY KEY (id);


--
-- Name: ChecklistItem ChecklistItem_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ChecklistItem"
    ADD CONSTRAINT "ChecklistItem_pkey" PRIMARY KEY (id);


--
-- Name: ChecklistTemplate ChecklistTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ChecklistTemplate"
    ADD CONSTRAINT "ChecklistTemplate_pkey" PRIMARY KEY (id);


--
-- Name: CheckpointResult CheckpointResult_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."CheckpointResult"
    ADD CONSTRAINT "CheckpointResult_pkey" PRIMARY KEY (id);


--
-- Name: Incident Incident_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Incident"
    ADD CONSTRAINT "Incident_pkey" PRIMARY KEY (id);


--
-- Name: NotificationLog NotificationLog_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."NotificationLog"
    ADD CONSTRAINT "NotificationLog_pkey" PRIMARY KEY (id);


--
-- Name: OperatorSiteAssignment OperatorSiteAssignment_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."OperatorSiteAssignment"
    ADD CONSTRAINT "OperatorSiteAssignment_pkey" PRIMARY KEY (id);


--
-- Name: PatrolJob PatrolJob_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."PatrolJob"
    ADD CONSTRAINT "PatrolJob_pkey" PRIMARY KEY (id);


--
-- Name: Patrol Patrol_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Patrol"
    ADD CONSTRAINT "Patrol_pkey" PRIMARY KEY (id);


--
-- Name: ReportTemplate ReportTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ReportTemplate"
    ADD CONSTRAINT "ReportTemplate_pkey" PRIMARY KEY (id);


--
-- Name: RouteCheckpoint RouteCheckpoint_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."RouteCheckpoint"
    ADD CONSTRAINT "RouteCheckpoint_pkey" PRIMARY KEY (id);


--
-- Name: Route Route_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Route"
    ADD CONSTRAINT "Route_pkey" PRIMARY KEY (id);


--
-- Name: SiteCommunicationChannel SiteCommunicationChannel_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."SiteCommunicationChannel"
    ADD CONSTRAINT "SiteCommunicationChannel_pkey" PRIMARY KEY (id);


--
-- Name: Site Site_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Site"
    ADD CONSTRAINT "Site_pkey" PRIMARY KEY (id);


--
-- Name: SummaryTemplate SummaryTemplate_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."SummaryTemplate"
    ADD CONSTRAINT "SummaryTemplate_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ActivePatrol_jobId_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "ActivePatrol_jobId_key" ON public."ActivePatrol" USING btree ("jobId");


--
-- Name: Alert_cameraId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Alert_cameraId_idx" ON public."Alert" USING btree ("cameraId");


--
-- Name: Alert_incidentId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Alert_incidentId_idx" ON public."Alert" USING btree ("incidentId");


--
-- Name: Alert_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Alert_siteId_idx" ON public."Alert" USING btree ("siteId");


--
-- Name: Alert_status_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Alert_status_idx" ON public."Alert" USING btree (status);


--
-- Name: AuditLog_entityId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "AuditLog_entityId_idx" ON public."AuditLog" USING btree ("entityId");


--
-- Name: AuditLog_entity_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "AuditLog_entity_idx" ON public."AuditLog" USING btree (entity);


--
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- Name: Camera_cameraCode_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "Camera_cameraCode_key" ON public."Camera" USING btree ("cameraCode");


--
-- Name: Camera_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Camera_siteId_idx" ON public."Camera" USING btree ("siteId");


--
-- Name: ChecklistItem_templateId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "ChecklistItem_templateId_idx" ON public."ChecklistItem" USING btree ("templateId");


--
-- Name: CheckpointResult_checkpointId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "CheckpointResult_checkpointId_idx" ON public."CheckpointResult" USING btree ("checkpointId");


--
-- Name: CheckpointResult_jobId_checkpointId_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "CheckpointResult_jobId_checkpointId_key" ON public."CheckpointResult" USING btree ("jobId", "checkpointId");


--
-- Name: CheckpointResult_jobId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "CheckpointResult_jobId_idx" ON public."CheckpointResult" USING btree ("jobId");


--
-- Name: Incident_assignedToId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Incident_assignedToId_idx" ON public."Incident" USING btree ("assignedToId");


--
-- Name: Incident_cameraId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Incident_cameraId_idx" ON public."Incident" USING btree ("cameraId");


--
-- Name: Incident_severity_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Incident_severity_idx" ON public."Incident" USING btree (severity);


--
-- Name: Incident_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Incident_siteId_idx" ON public."Incident" USING btree ("siteId");


--
-- Name: Incident_status_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Incident_status_idx" ON public."Incident" USING btree (status);


--
-- Name: NotificationLog_eventType_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "NotificationLog_eventType_idx" ON public."NotificationLog" USING btree ("eventType");


--
-- Name: NotificationLog_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "NotificationLog_siteId_idx" ON public."NotificationLog" USING btree ("siteId");


--
-- Name: NotificationLog_status_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "NotificationLog_status_idx" ON public."NotificationLog" USING btree (status);


--
-- Name: OperatorSiteAssignment_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "OperatorSiteAssignment_siteId_idx" ON public."OperatorSiteAssignment" USING btree ("siteId");


--
-- Name: OperatorSiteAssignment_userId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "OperatorSiteAssignment_userId_idx" ON public."OperatorSiteAssignment" USING btree ("userId");


--
-- Name: OperatorSiteAssignment_userId_siteId_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "OperatorSiteAssignment_userId_siteId_key" ON public."OperatorSiteAssignment" USING btree ("userId", "siteId");


--
-- Name: PatrolJob_operatorId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "PatrolJob_operatorId_idx" ON public."PatrolJob" USING btree ("operatorId");


--
-- Name: PatrolJob_routeId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "PatrolJob_routeId_idx" ON public."PatrolJob" USING btree ("routeId");


--
-- Name: PatrolJob_status_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "PatrolJob_status_idx" ON public."PatrolJob" USING btree (status);


--
-- Name: Patrol_operatorId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Patrol_operatorId_idx" ON public."Patrol" USING btree ("operatorId");


--
-- Name: Patrol_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Patrol_siteId_idx" ON public."Patrol" USING btree ("siteId");


--
-- Name: ReportTemplate_key_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "ReportTemplate_key_key" ON public."ReportTemplate" USING btree (key);


--
-- Name: RouteCheckpoint_cameraId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "RouteCheckpoint_cameraId_idx" ON public."RouteCheckpoint" USING btree ("cameraId");


--
-- Name: RouteCheckpoint_checklistTemplateId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "RouteCheckpoint_checklistTemplateId_idx" ON public."RouteCheckpoint" USING btree ("checklistTemplateId");


--
-- Name: RouteCheckpoint_routeId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "RouteCheckpoint_routeId_idx" ON public."RouteCheckpoint" USING btree ("routeId");


--
-- Name: Route_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "Route_siteId_idx" ON public."Route" USING btree ("siteId");


--
-- Name: SiteCommunicationChannel_siteId_channelType_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "SiteCommunicationChannel_siteId_channelType_key" ON public."SiteCommunicationChannel" USING btree ("siteId", "channelType");


--
-- Name: SiteCommunicationChannel_siteId_idx; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE INDEX "SiteCommunicationChannel_siteId_idx" ON public."SiteCommunicationChannel" USING btree ("siteId");


--
-- Name: SummaryTemplate_key_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "SummaryTemplate_key_key" ON public."SummaryTemplate" USING btree (key);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: virtual_patrol
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: ActivePatrol ActivePatrol_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ActivePatrol"
    ADD CONSTRAINT "ActivePatrol_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."PatrolJob"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ActivePatrol ActivePatrol_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ActivePatrol"
    ADD CONSTRAINT "ActivePatrol_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Alert Alert_assignedToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Alert Alert_cameraId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_cameraId_fkey" FOREIGN KEY ("cameraId") REFERENCES public."Camera"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Alert Alert_incidentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_incidentId_fkey" FOREIGN KEY ("incidentId") REFERENCES public."Incident"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Alert Alert_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Alert"
    ADD CONSTRAINT "Alert_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Camera Camera_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Camera"
    ADD CONSTRAINT "Camera_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ChecklistItem ChecklistItem_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."ChecklistItem"
    ADD CONSTRAINT "ChecklistItem_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public."ChecklistTemplate"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CheckpointResult CheckpointResult_checkpointId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."CheckpointResult"
    ADD CONSTRAINT "CheckpointResult_checkpointId_fkey" FOREIGN KEY ("checkpointId") REFERENCES public."RouteCheckpoint"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CheckpointResult CheckpointResult_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."CheckpointResult"
    ADD CONSTRAINT "CheckpointResult_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."PatrolJob"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Incident Incident_assignedToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Incident"
    ADD CONSTRAINT "Incident_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Incident Incident_cameraId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Incident"
    ADD CONSTRAINT "Incident_cameraId_fkey" FOREIGN KEY ("cameraId") REFERENCES public."Camera"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Incident Incident_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Incident"
    ADD CONSTRAINT "Incident_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: NotificationLog NotificationLog_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."NotificationLog"
    ADD CONSTRAINT "NotificationLog_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OperatorSiteAssignment OperatorSiteAssignment_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."OperatorSiteAssignment"
    ADD CONSTRAINT "OperatorSiteAssignment_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OperatorSiteAssignment OperatorSiteAssignment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."OperatorSiteAssignment"
    ADD CONSTRAINT "OperatorSiteAssignment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PatrolJob PatrolJob_operatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."PatrolJob"
    ADD CONSTRAINT "PatrolJob_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PatrolJob PatrolJob_routeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."PatrolJob"
    ADD CONSTRAINT "PatrolJob_routeId_fkey" FOREIGN KEY ("routeId") REFERENCES public."Route"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Patrol Patrol_operatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Patrol"
    ADD CONSTRAINT "Patrol_operatorId_fkey" FOREIGN KEY ("operatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Patrol Patrol_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Patrol"
    ADD CONSTRAINT "Patrol_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RouteCheckpoint RouteCheckpoint_cameraId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."RouteCheckpoint"
    ADD CONSTRAINT "RouteCheckpoint_cameraId_fkey" FOREIGN KEY ("cameraId") REFERENCES public."Camera"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RouteCheckpoint RouteCheckpoint_checklistTemplateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."RouteCheckpoint"
    ADD CONSTRAINT "RouteCheckpoint_checklistTemplateId_fkey" FOREIGN KEY ("checklistTemplateId") REFERENCES public."ChecklistTemplate"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RouteCheckpoint RouteCheckpoint_routeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."RouteCheckpoint"
    ADD CONSTRAINT "RouteCheckpoint_routeId_fkey" FOREIGN KEY ("routeId") REFERENCES public."Route"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Route Route_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Route"
    ADD CONSTRAINT "Route_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SiteCommunicationChannel SiteCommunicationChannel_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."SiteCommunicationChannel"
    ADD CONSTRAINT "SiteCommunicationChannel_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public."Site"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Site Site_reportTemplateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: virtual_patrol
--

ALTER TABLE ONLY public."Site"
    ADD CONSTRAINT "Site_reportTemplateId_fkey" FOREIGN KEY ("reportTemplateId") REFERENCES public."ReportTemplate"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict qwRiN6Hb2EYvuGBcZhtqX3vMBCFfmyJApilDG9Hy25EQVunsFl7KwJGjILtvcvP

